body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
img.center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.btn-oj, .btn-oj:visited {
    background-color: #FB9100;
    color: white;
}
.btn-oj:hover, .btn-oj:active {
    background-color: #EC5A00;
    color: white;
}
.btn-oj:
#deck{
    text-align:center;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
@media screen and (min-width: 1024px) {
    .cardsHeight{
        height:470px;
        overflow-y:auto;
    }
}
.ojcard {
    display:inline-block
}
.ojdeck {
    display:inline-block
}
.badge-trap {
    background-color: mediumpurple;
    color:white;
}
.badge-gift {
    background-color: hotpink;
    color:white;
}
.badge-battle {
    background-color: gold;
    color:white;
}
.oj1 {
    color: #FE8605;
}
.oj2 {
    color: #FEB50E
}
.oj3 {
    color: #F55A00
}
.stat-text {
    font-size: 14px;
}
.stat-label {
    font-size: 12px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.ojdeck {
    filter: brightness(75%);
}
.ojdeck:hover {
    filter: brightness(100%);
}
.second-number {
    margin-left: -12px;
}
.points {
    margin-left: 7px;
}

/* filter */
.search {
    margin: 15px;
    max-width: 350px;
    border-radius: 4px;
    border: 1px solid black;
}
.filter {
    position: relative;
    height: 30px;
    margin: 15px;
    max-width: 350px;
    border-radius: 4px;
    border: 1px solid black;
}
.orange-focus:focus {
    outline: none !important;
    border: 1px solid orange;
}

/* slider */
.co-op-label {
  margin: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#mainBody {
  display: none;
}
